body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

ul{
    padding: 0px!important; 
}

.menu-principal{
    width: 100%;
    background-color: #252323;
    height: 80px;
}

main{
    margin: 0 auto;
    width: 980px;
    position: relative;
}

.logo {
    float: left;
    padding: 15px;
    width: 60%;
}

.redes-sociais ul li{
    margin-left: 10px;
    display: inline-block;
    float: left;
    list-style: none;
    
}

.redes-sociais{
    width: 30%;
    float: right;
}
.header-2{
    background-color: #fff;
    width: 980px;
    margin: auto;
    padding: 16px;
}

.menu-urls{
    height: 70px;
    border-bottom: 3px solid #efeffe;

}

.menu ul li{
    display: inline-block;
    color: #8b8b8b;
    margin-left: 15px;
    height: 40px;
}

.menu ul li:hover{
    border-bottom: 3px solid #00bac6;
}

.menu ul li a:hover{
    color: #00bac6;
    
}

.menu ul li a{
    display: inline-block;
    color: #8b8b8b;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}

.menu{
    width: 70%;
    float: left;
}

.busca {
    text-align: center;
    width: 30%;
    float: right;
}

.busca input{
    background-image: url('./img/search-inc.png');
    background-repeat: no-repeat;
    background-position: 96%;
    height: 25px;
    padding: 4px;
    width: 190px;
    margin-top: 6px;
    border: 1px solid #d6d6d6;
}

.col-100{
    width: 100%;
    float: left;
    position: relative;
}

button.slick-prev{
    font-size: 0px;
    border: none;
    width: 48px;
    height: 48px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url('./img/sE.png') ;
    top: 35%;
    left: 14%;
    
}

button.slick-next{
    font-size: 0px;
    border: none;
    width: 48px;
    height: 48px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url('./img/sD.png') ;
    top: 35%;
    right: 14%;
}


.slider-principal{
    width: 100%;
}

ul.slick-dots li{
    display: inline-block;
    font-size: 0px;
    border: 3px solid #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px; 
}

ul.slick-dots li.slick-active{
    background-color: #00bac6;

}